{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }],
    "react"
  ],
  "plugins": [
    "css-modules-transform",
    "react-hot-loader/babel",
    "react-loadable/babel",
    "dynamic-import-node",
    "syntax-dynamic-import",
    "transform-object-rest-spread"
  ]
}
