{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }],
    "react"
  ],
  "plugins": [
    [
      "css-modules-transform", {
        "generateScopedName": "[path][name]__[local]--[hash:base64:5]"
      }
    ],
    "react-hot-loader/babel",
    "react-loadable/babel",
    "dynamic-import-node",
    "syntax-dynamic-import",
    "transform-object-rest-spread"
  ]
}
